#garden-holder {
	border: solid;
	border-color: #512915;
	border-width: 10px;
	background-color: sienna;
	display: inline-block;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#new-col-btn {
	display: inline-block;
	background-color: white;
	width: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#new-col-text {
	transform: rotate(90deg);
	text-align: center;
	margin: 0;
	white-space: nowrap;
}

#horiz-flex {
	display: flex;
}

#vert-flex {
}
