#button-container {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    background-color: #eaf7f8;
}

#button-container:hover {
    background-color: #d7f0f2;
}

#icon-title {
    margin: 0;
}