.row-btn {
	height: 48px;
	width: calc(100% - 102px);
	margin-left: 53px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.plus-row {
	height: 100%;
	width: 50%;
	display: flex;
	opacity: 0.7;
	background-color: #eaf7f8;
	border-radius: 0px 0px 0px 10px;
	border: solid;
	border-top: none;
	border-right: none;
	border-width: 1px;
	border-color: #97baf0;
}

.plus-row svg {
	margin: auto;
	padding: auto;
}

.plus-row:hover {
	opacity: 1;
}

.minus-row {
	height: 100%;
	width: 50%;
	display: flex;
	opacity: 0.7;
	background-color: red;
	border-radius: 0px 0px 10px 0px;
	border: solid;
	border-left: none;
	border-top: none;
	border-width: 1px;
	border-color: darkred;
}

.minus-row:hover {
	opacity: 1;
}

.minus-row svg {
	margin: auto;
	padding: auto;
}

/* */

.col-btn {
	width: 48px;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	align-items: center;
}

.plus-col {
	height: 50%;
	width: 100%;
	display: flex;
	opacity: 0.7;
	background-color: #eaf7f8;
	border-radius: 0px 10px 0px 0px;
	border: solid;
	border-left: none;
	border-bottom: none;
	border-width: 1px;
	border-color: #97baf0;
}

.plus-col svg {
	margin: auto;
	padding: auto;
}

.plus-col:hover {
	opacity: 1;
}

.minus-col {
	height: 50%;
	width: 100%;
	display: flex;
	opacity: 0.7;
	background-color: red;
	border-radius: 0px 0px 10px 0px;
	border: solid;
	border-left: none;
	border-top: none;
	border-width: 1px;
	border-color: darkred;
}

.minus-col:hover {
	opacity: 1;
}

.minus-col svg {
	margin: auto;
	padding: auto;
}

.plus-icon-col {
	margin-top: 16px;
	margin-bottom: 10px;
	width: 30px;
	height: 30px;
}

.plus-icon-row {
	margin-left: 16px;
	margin-right: 20px;
	width: 30px;
	height: 30px;
}

#new-row-icon {
	width: 80px;
	height: 80px;
	text-align: center;
	margin-left: 55px;
}
